.container {
    display: grid;
    grid-template-columns: 60px 190px 190px;
    grid-template-rows: 30px 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 450px;
}
.header {
    background-color: #334960;
    color: white;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftSide {
    background-color: #334960;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    width: 60px;
    height: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    text-align: end;
    align-items: flex-end;
    display: flex;
}
/* .twoVertical {
    background-color: #7e9fce;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    z-index: 999999;
} */
.table {
    background-color: #c9daf8;
    grid-column: 2 / 4;
    grid-row: 2 / 7;
    left: 60px;
}
.headerSection {
    background-color: #c9daf8;
    grid-row: 2 / 7;
    grid-column: 2 / 4;
    display: flex;
    left: 60px;
}
.bodyHeader {
    background-color: #c9daf8;
    grid-column: 2 / 4;
    grid-row: 6 / 7;
    justify-content: space-around;
}
.body {
    background-color: #c9daf8;
    grid-column: 2 / 4;
}