.container {
    display: grid;
    grid-template-columns: 60px 200px 200px 60px;
    grid-template-rows: 30px 190px 45px 1fr;
    width: 460px;
}
.header {
    background-color: #334960;
    color: white;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftSide {
    background-color: #334960;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 60px;
    height: 100%;
    /* bottom: 0; */
    /* left: 0; */
    /* position: relative; */
    text-align: center;
    align-items: flex-end;
    display: flex;
    font-size: 14px;
}
.rightSide {
    background-color: #334960;
    width: 60px;
    height: 100%;
    grid-row: 1 / 5;
    grid-column: 4 / 5;
}
.rightMap {
    display: flex;
    flex-direction: row;
    grid-column: 4 / 5;
    /* grid-row: 4 / 5; */
    width: 60px;
    background-color: #334960;
    height: 100%;
    color: #334960;
    font-size: 12px;
}
.table {
    background-color: #c9daf8;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* margin: 0;
    padding: 0; */
}
.headerSection {
    background-color: #c9daf8;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tableValues {
    background-color: #c9daf8;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    /* width: 100%;
    height: 100%; */
 
}
.values {
    background-color: #c9daf8;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}
.bodyHeader {
    background-color: #c9daf8;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
/* .body {
    background-color: #c9daf8;
    grid-column: 2 / 4;
} */
.currentContainer {
    display: grid;
    position: relative;
    /* grid-template-columns: 60px 380px;
    grid-template-rows: 30px 1fr;
    width: 440px; */
}
/* .hr {
    border: 1px solid black;
    flex-direction: column;
} */
.number {
    background-color: #334960;
    color: white;
    grid-column: 1 / 2;
    width: 60px;
    height: 100%;
    grid-row: 3 / 4;
    /* padding: 0px; */
    margin: 0px;
    position: absolute;
    left: -62px;
    top: -2px;
    font-size: 12px;
}
.tableNumber {
    background-color: #c9daf8;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    width: 396px;
    font-size: 12px;
}