.pparent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    position: relative;
}
.pone {
    background-color: #334960;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}
.poneYellow {
    background-color: #fbbc04;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
}
/* .twoHorizontal {
    background-color: #7e9fce;
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
} */
.ptwo {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
}
.ptwoOne {
    background-color: white;
    width: 100%;
    height: 100%;
}
.ptwoTwo {
    background-color: #d9ead3;
    width: 100%;
    height: 100%;
}
.ptwoThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
}
.ptwoFour {
    background-color: white;
    width: 100%;
    height: 100%;
}
.ptwoFive {
    background-color: #334960;
    width: 100%;
    height: 100%;
}
.ptwoVertical {
    background-color: #7e9fce;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    z-index: 999999;
}
.ptwoHorizontal {
    background-color: #7e9fce;
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
}
.pthree {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}
.pthreeOne {
    background-color: white;
    width: 100%;
    height: 100%;
}
.pthreeTwo {
    background-color: #d9ead3;
    width: 100%;
    height: 100%;
}
.pthreeThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
}
.pthreeFour {
    background-color: white;
    width: 100%;
    height: 100%;
}
.pthreeFive {
    background-color: #334960;
    width: 100%;
    height: 100%;
}
.pthreeVertical {
    background-color: #0b5394;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 100%;
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    z-index: 999999;
}
.pthreeHorizontal {
    background-color: #0b5394;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
}
.pfour {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
}
.pfourOne {
    background-color: white;
    width: 100%;
    height: 100%;
}
.pfourTwo {
    background-color: white;
    width: 100%;
    height: 100%;
}
.pfourThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
}
.pfourFour {
    background-color: white;
    width: 100%;
    height: 100%;
}
.pfourFive {
    background-color: #334960;
    width: 100%;
    height: 100%;
}
.pfourVertical {
    background-color: #6fa8dc;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 100%;
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    z-index: 999999;
}
.pfourHorizontal {
    background-color: #6fa8dc;
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
}
.pfive {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
}
.pfiveOne {
    background-color: white;
    width: 100%;
    height: 100%;
}
.pfiveTwo {
    background-color: white;
    width: 100%;
    height: 100%;
}
.pfiveThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
}
.pfiveFour {
    background-color: white;
    width: 100%;
    height: 100%;
}
.pfiveFive {
    background-color: #334960;
    width: 100%;
    height: 100%;
}
.pfiveVertical {
    background-color: #073763;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    height: 100%;
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    z-index: 99999;
}
.pfiveHorizontal {
    background-color: #073763;
    grid-column: 1 / 6;
    grid-row: 5 / 6;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
}
.psix {
    grid-column: 1 / 6;
    grid-row: 6 / 7;
    background-color: white;
}
.psixOne {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 5px;
} 
.psixTwo {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 5px;
}
/* .sixThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
}
.sixFour {
    background-color: white;
    width: 100%;
    height: 100%;
}
.sixFive {
    background-color: #334960;
    width: 100%;
    height: 100%;
}
.sixVertical {
    background-color: #7e9fce;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
}
.sixHorizontal {
    background-color: #7e9fce;
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
}   */