@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.pparent {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 34px 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    /* font-family: 'Montserrat', sans-serif; */
}
 /* .pone {
    background-color: #334960;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
} */
.poneOne {
    width: 100%;
    height: 100%;
    color: white;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334960;
}
.poneTwo {
    width: 100%;
    height: 100%;
    color: white;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #334960;
    flex-direction: column;
}
.poneThree {
    width: 100%;
    height: 100%;
    color: white;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #334960;
    flex-direction: column;
    font-size: 18px;
}
.poneFour {
    width: 100%;
    height: 100%; 
    color: white;
    grid-column: 5 / 6;
    grid-row: 1 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334960;
    flex-direction: column;
}
.poneFive {
    width: 100%;
    height: 100%; 
    color: white;
    grid-column: 6 / 7;
    grid-row: 1 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334960;
    flex-direction: column;
}
.poneYellow {
    background-color: #fbbc04;
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    height: 34px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ptwo {
    display: flex;
    grid-column: 2 / 7;
    grid-row: 3 / 4;
}
.ptwoOne {
    background-color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.ptwoOne div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.ptwoTwo  {
    background-color: #d9ead3;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.ptwoTwo div{
    background-color: #d9ead3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.ptwoThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.ptwoThree div{
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.ptwoFour {
    background-color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.ptwoFour div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.ptwoFive  {
    background-color: #334960;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.ptwoFive div{
    background-color: #334960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.ptwoVertical {
    background-color: #7e9fce;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    height: 100%;
    width: 60px;
    position: absolute;
    color: white;
    font-weight: bold;
}
 .ptwoHorizontal {
    background-color: #7e9fce;
    grid-column: 2 / 7;
    grid-row: 4 / 5;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.ptwoHorizontal div {
    background-color: #7e9fce;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 18px;
} 

.pthree {
    display: flex;
    grid-column: 2 / 7;
    grid-row: 5 / 6;
}
.pthreeOne {
    background-color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.pthreeOne div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pthreeTwo  {
    background-color: #d9ead3;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.pthreeTwo div{
    background-color: #d9ead3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pthreeThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.pthreeThree div{
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pthreeFour {
    background-color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.pthreeFour div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pthreeFive  {
    background-color: #334960;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.pthreeFive div{
    background-color: #334960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pthreeVertical {
    background-color: #0b5394;
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    height: 100%;
    width: 60px;
    position: absolute;
    color: white;
    font-weight: bold;
}
.pthreeHorizontal {
    background-color: #0b5394;
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pthreeHorizontal1 {
    background-color: #0b5394;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 999;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pthreeHorizontal2 {
    background-color: #0b5394;
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 9999;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pthreeHorizontal3 {
    background-color: #0b5394;
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 99999;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pthreeHorizontal4 {
    background-color: #0b5394;
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 999999;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pthreeHorizontal5 {
    background-color: #0b5394;
    grid-column: 6 / 7;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 99999;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfour {
    display: flex;
    grid-column: 4 / 7;
    grid-row: 7 / 8;
}
.pfourOne {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.pfourOne div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pfourThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.pfourThree div{
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pfourFour {
    background-color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.pfourFour div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pfourFive  {
    background-color: #334960;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.pfourFive div{
    background-color: #334960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pfourVertical {
    background-color: #6fa8dc;
    grid-column: 1 / 2;
    grid-row: 7 / 9;
    height: 100%;
    width: 60px;
    position: absolute;
    color: white;
    font-weight: bold;
}
.pfourHorizontal {
    background-color: #6fa8dc;
    grid-column: 2 / 7;
    grid-row: 8 / 9;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.pfive {
    display: flex;
    grid-column: 4 / 7;
    grid-row: 9 / 10;
}
.pfiveOne {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.pfiveOne div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pfiveTwo {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.pfiveTwo div{
    background-color: #d9ead3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pfiveThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.pfiveThree div{
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pfiveFour {
    background-color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.pfiveFour div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pfiveFive  {
    background-color: #334960;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.pfiveFive div{
    background-color: #334960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pfiveVertical {
    background-color: #073763;
    grid-column: 1 / 2;
    grid-row: 9 / 11;
    height: 100%;
    width: 60px;
    position: absolute;
    color: white;
    font-weight: bold;
}
.pfiveHorizontal {
    background-color: #073763;
    grid-column: 2 / 7;
    grid-row: 10 / 11;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.psixOne {
    background-color: white;
    width: 100%;
    height: 100%;
    grid-column: 1 / 5;
    grid-row: 11 / 12;
} 
.psixTwo {
    background-color: white;
    width: 100%;
    height: 100%;
    grid-column: 5 / 7;
    grid-row: 11 / 12;
}
