.parent {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 34px 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
}
 /* .one {
    background-color: #334960;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
} */
.oneOne {
    width: 100%;
    height: 100%;
    color: white;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334960;
}
.oneTwo {
    width: 100%;
    height: 100%;
    color: white;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #334960;
    flex-direction: column;
}
.oneThree {
    width: 100%;
    height: 100%;
    color: white;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #334960;
    flex-direction: column;
    font-size: 18px;
}
.oneFour {
    width: 100%;
    height: 100%; 
    color: white;
    grid-column: 5 / 6;
    grid-row: 1 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334960;
    flex-direction: column;
}
.oneFive {
    width: 100%;
    height: 100%; 
    color: white;
    grid-column: 6 / 7;
    grid-row: 1 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334960;
    flex-direction: column;
}
.oneYellow {
    background-color: #fbbc04;
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    height: 34px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.two {
    display: flex;
    grid-column: 2 / 7;
    grid-row: 3 / 4;
}
.twoOne {
    background-color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.twoOne div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.twoTwo  {
    background-color: #d9ead3;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.twoTwo div{
    background-color: #d9ead3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.twoThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.twoThree div{
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.twoFour {
    background-color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.twoFour div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.twoFive  {
    background-color: #334960;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.twoFive div{
    background-color: #334960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.twoVertical {
    background-color: #7e9fce;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    height: 100%;
    width: 60px;
    position: absolute;
    color: white;
    font-weight: bold;
}
 .twoHorizontal {
    background-color: #7e9fce;
    grid-column: 2 / 7;
    grid-row: 4 / 5;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.twoHorizontal div {
    background-color: #7e9fce;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 18px;
} 

.three {
    display: flex;
    grid-column: 2 / 7;
    grid-row: 5 / 6;
}
.threeOne {
    background-color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.threeOne div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.threeTwo  {
    background-color: #d9ead3;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.threeTwo div{
    background-color: #d9ead3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.threeThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.threeThree div{
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.threeFour {
    background-color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.threeFour div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.threeFive  {
    background-color: #334960;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.threeFive div{
    background-color: #334960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.threeVertical {
    background-color: #0b5394;
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    height: 100%;
    width: 60px;
    position: absolute;
    color: white;
    font-weight: bold;
}
.threeHorizontal {
    background-color: #0b5394;
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.threeHorizontal1 {
    background-color: #0b5394;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 999;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.threeHorizontal2 {
    background-color: #0b5394;
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 9999;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.threeHorizontal3 {
    background-color: #0b5394;
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 99999;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.threeHorizontal4 {
    background-color: #0b5394;
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 999999;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.threeHorizontal5 {
    background-color: #0b5394;
    grid-column: 6 / 7;
    grid-row: 6 / 7;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 99999;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four {
    display: flex;
    grid-column: 2 / 7;
    grid-row: 7 / 8;
}
.fourOne {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: bold;
    flex-direction: column;
}
.fourOne div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.fourTwo {
    background-color: #d9ead3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.fourTwo div {
    background-color: #d9ead3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.fourThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.fourThree div {
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.fourFour {
    background-color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.fourFour div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.fourFive {
    background-color: #334960;
    width: 100%;
    height: 100%;
    font-weight: bold;
    flex-direction: column;
    display: flex;
}
.fourFive div {
    background-color: #334960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.fourSix {
    background-color: #6fa8dc;
    grid-row: 7 / 8;
    grid-column: 2 / 4;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.fourVertical {
    background-color: #3d85c6;
    grid-column: 1 / 2;
    grid-row: 7 / 9;
    height: 100%;
    width: 60px;
    position: absolute;
    color: white;
    font-weight: bold;
}
.fourHorizontal {
    background-color: #3d85c6;
    grid-column: 2 / 7;
    grid-row: 8 / 9;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.five {
    display: flex;
    grid-column: 4 / 7;
    grid-row: 9 / 10;
}
.fiveOne {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.fiveOne div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.fiveThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.fiveThree div{
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.fiveFour {
    background-color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.fiveFour div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.fiveFive  {
    background-color: #334960;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.fiveFive div{
    background-color: #334960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.fiveVertical {
    background-color: #6fa8dc;
    grid-column: 1 / 2;
    grid-row: 9 / 11;
    height: 100%;
    width: 60px;
    position: absolute;
    color: white;
    font-weight: bold;
}
.fiveHorizontal {
    background-color: #6fa8dc;
    grid-column: 1 / 7;
    grid-row: 10 / 11;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
}
.fiveHorizontal1 {
    background-color: #6fa8dc;
    grid-column: 2 / 4;
    grid-row: 10 / 11;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 999;
    /* font-weight: bold; */
}
/* .fiveHorizontal2 {
    background-color: #6fa8dc;
    grid-column: 3 / 4;
    grid-row: 10 / 11;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 999;
} */
.fiveHorizontal3 {
    background-color: #6fa8dc;
    grid-column: 4 / 5;
    grid-row: 10 / 11;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 999;
    /* font-weight: bold; */
}
.fiveHorizontal4 {
    background-color: #6fa8dc;
    grid-column: 5 / 6;
    grid-row: 10 / 11;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 999;
    /* font-weight: bold; */
}
.fiveHorizontal5 {
    background-color: #6fa8dc;
    grid-column: 6 / 7;
    grid-row: 10 / 11;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    z-index: 999;
    /* font-weight: bold; */
}

.six {
    display: flex;
    grid-column: 4 / 7;
    grid-row: 11 / 12;
}
.sixOne {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sixOne div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.sixTwo {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sixTwo div{
    background-color: #d9ead3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.sixThree {
    background-color: #cfe2f3;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.sixThree div{
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.sixFour {
    background-color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.sixFour div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.sixFive  {
    background-color: #334960;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.sixFive div{
    background-color: #334960;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    height: 100%;
}
.sixVertical {
    background-color: #073763;
    grid-column: 1 / 2;
    grid-row: 11 / 13;
    height: 100%;
    width: 60px;
    position: absolute;
    color: white;
    font-weight: bold;
}
.sixHorizontal {
    background-color: #073763;
    grid-column: 2 / 7;
    grid-row: 12 / 13;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.sevenOne {
    background-color: white;
    width: 100%;
    height: 100%;
    grid-column: 1 / 5;
    grid-row: 13 / 14;
} 
.sevenTwo {
    background-color: white;
    width: 100%;
    height: 100%;
    grid-column: 5 / 7;
    grid-row: 13 / 14;
}
